header{
  display: flex;
  justify-content: center;
}

.article-title{
  font-size:150%;
  color:rgb(22, 22, 146);
  font-weight: 600;
  margin-top: 1%;
  margin-right: 58%;
}

nav{
  display:flex;
  justify-content: flex-end;
  color: rgb(22, 22, 146);
  margin-top: 1%;
}

a{
  text-decoration:none;
}

.mail{
  width:120px;
}

.information{
  margin:0 4%;
  width:80px;
}

.contents{
  margin:0 3%;
  width:80px;
}

.home{
  margin-right:3%;
  width:60px;
}

h3{
  margin:350px 0 0 0;
  font-size: 60px;
  font-weight: lighter;
}

.navy-square{
  background-color: rgb(22, 22, 146);
  width:960px;
  height:160px;
  margin-top:0px;
}

.sample-picture{
  position:relative;
}

img{
  position:absolute;
  top:-500px;
  left:670px;
}

img{
  width:600px;
}